*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.container{
  height: 70px;
  display: flex;
  padding: 15px 25px;
  box-shadow: 0 5px 5px rgb(237, 233, 233);
}
